@import "tailwindcss";

.container{
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.5rem 2.5rem;
}

.grid{
  display: grid;
  gap:9.5rem;
  list-style: none;
}

.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols{
  grid-template-columns: repeat(3, 1fr);
}